@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 5px;
}

.completed {
  text-decoration: line-through;
}

button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}